body,html{
    height: 100%;
    margin: 0;
    background: green;
    background: linear-gradient(115deg, #000000, #041800);

}

.chatroom{
    font-family: 'Inconsolata', monospace;;
    font-size: 55px;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.chat{
    margin-top: 25px;
    margin-bottom: auto;
    
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 65, 11, 0.623) !important;
}


#welcome h4 {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-left: 80px;
}

#welcome p {
    font-family: 'Inconsolata', monospace;
    font-size: 18px; /* Adjust as needed */
    text-align: center;
    align-items: center;
    margin-left: 60px;
    font-weight: lighter;
}

.user-joined{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding: 0px 0px;
    margin-left: 150px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
   
}


.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}

.type_msg{
    font-family: 'Inconsolata', monospace;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
   font-family: 'Inconsolata', monospace;

}

.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}


.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}


.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}

.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #080808;
padding: 10px;
position: relative;
color: rgb(255, 255, 255);
color: green;
font-family: 'Inconsolata', monospace;
font-size: 16px;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #080808;
padding: 10px;
position: relative;
color: green;
font-family: 'Inconsolata', monospace;
font-size: 16px;
}

.user-id-receive{
    position: absolute;
    right: 215px;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    width: 50px;
}

.msg_time{
position: absolute;
left: 10px;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
width: 200px;
}


.msg_time_send{
position: absolute;
right: -100px;
bottom: -20px;
color: rgba(255,255,255,0.5);
font-size: 10px;
width: 100px;
justify-content: end;

}
.msg_head{
position: relative;
}

.user-typing{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding: 0px 0px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
}

.message-feedback{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 8px;
    font-weight: lighter;
    padding: 0px 0px;
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
}


.footer p {
    margin: 0;
    font-size: 0.9rem;
    font-family: 'Inconsolata', monospace;
}
