<%- include("header.ejs") %>

<style>
    .rules {
        background-color: green !important;
        padding: 5rem;
        text-align: center;
    }

    .rules h1 {
        color: white;
        font-size: 72px;
        font-family: 'Inconsolata', monospace;
    }

    .rules h4 {
        color: white;
        font-size: 32px;
        font-family: 'Inconsolata', monospace;
    }
</style>

<div class="rules">
    <h1 class="mb-3">THERE ARE NO RULES!</h1>
    <h4 class="mb-3">Enjoy :)</h4>
</div>

<%- include("footer.ejs") %>
